@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");

body {
    position: relative;
}

html {
    scroll-behavior: smooth;
}

img {
    /* Responsive Images */
    max-width: 100%;
    height: auto;
}

.divider {
    max-width: 4.75rem;
    border: var(--secondary) solid 2px;
    border-radius: 2px;
}

#OverMij img {
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
}

#bewijstukken a {
    text-decoration: none;
    color: #21252A;
    transition: 0.2s;
}

#bewijstukken a:hover {
    box-shadow: 2px 2px 5px var(--gray);

}

.iframe-container {
    overflow: hidden;
    padding-top: 56.25%;    /*Calculated from the aspect ration of the content (in case of 16:9 it is 9/16= 0.5625)*/
    position: relative;
}

.iframe-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

embed {
    width: 100%;
    height: 600px;
}

#bewijstukken .card {
    height: 330px;
}

#bewijstukken .card img {
    max-height: 158px;
}

nav {
    transition: background-color 0.2s linear;
}

.bg-white-blur {
    background-color: rgba(255, 255, 255, 0.95);
    backdrop-filter:blur(2px);
}

.Main-Jumbotron {
    background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.5)), url("../images/Header_Background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: scroll;
}

.modal-body a {
    box-shadow: none !important;
}

.modal-body a:hover {
    text-decoration: underline !important;
}

footer i {
    font-size: xx-large;
}

footer a:hover {
    color: black !important;
}